:root {
	--transparent_center-size: 50%;
	--transparent_center-fill-color: #ccc;
	--transparent_center-ring-width: 1.25rem;
	--transparent_center-spid: 900ms;
}

* {
	box-sizing: border-box;
}

.fild {
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.in-center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

#transparent_center .context {
	width: var(--transparent_center-size);
	aspect-ratio: 1/1;
	border-radius: var(--transparent_center-size);
	overflow: hidden;
}

#transparent_center .external {
	width: calc(var(--transparent_center-size)*2);
	aspect-ratio: 1/1;
	border-style: solid;
	border-width: var(--transparent_center-ring-width);
	border-color: var(--transparent_center-fill-color);
	border-left-color: transparent;
	border-radius: var(--transparent_center-size);
	animation: transparent_center-rotation var(--transparent_center-spid) linear infinite
}

@keyframes transparent_center-rotation {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}